# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* List popular languages for Data science
* List commonly used libraries in Data science
* List tools used in Data science
* Learn arithmetic expressions in python

Some of the popular languages that Data scientist use are:
1. python
2. R
3. C++
4. Julia
5. Scala

Some of the commonly used libraries used by Data scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit Learn
6. Keras

|Data Science tools|
--------------------
|My SQL|
|MongoDB|
|Hadoop|
|Apache CouchDB|
|Apache Cassandra|

### Below are a few examples of evaluating arithmetic expressions in python

This is a simple arithmetic expression to multiply then add integers

In [2]:
3*4+5

17

This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335

## Author
Benly Babu